<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>OnePay - Register</title>
    <link rel="stylesheet" th:href="@{/css/styles-newUser.css}">
</head>
<body>
<header>
    <div class="container">
        <h1>OnePay</h1>
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/services}">Services</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <div class="background-image">
        <div class="overlay">
            <div class="container-right">
                <section class="intro">
                    <h2>Welcome to OnePay</h2>
                    <p>Your reliable fintech solution for seamless transactions.</p>
                </section>
                <aside class="login-signup">
                    <h3>Register</h3>
                    <form id="registrationForm" method="post" th:action="@{/register}">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input id="username" name="username" required type="text">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input id="password" name="password" required type="password">
                        </div>
                        <div class="form-group">
                            <label for="confirm-password">Confirm Password:</label>
                            <input id="confirm-password" name="confirm-password" required type="password">
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input id="email" name="email" required type="email">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone:</label>
                            <input id="phone" name="phone" required type="tel">
                        </div>
                        <button id="submit" type="submit">Register</button>
                        <p>Already have an account? <a th:href="@{/login}">Login</a></p>
                    </form>
                </aside>
            </div>
        </div>
    </div>
</main>

<footer>
    <div class="container">
        <p>&copy; 2024 OnePay. All rights reserved.</p>
    </div>
</footer>

<script>
    document.getElementById('registrationForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the default form submission

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirm-password').value;
        const email = document.getElementById('email').value;
        const phoneNumber = document.getElementById('phone').value;
        const data = {
            username,
            password,
            email,
            phoneNumber
        };

        if (password === confirmPassword) {
            const jsonData = JSON.stringify(data);
            fetch('/OnePay/signUp', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: jsonData
            })
                .then(response => response.json())
                .then(data => {
                    // Handle success - redirect to a success page or show a message
                    console.log('Success:', data);
                })
                .catch((error) => {
                    // Handle error
                    console.error('Error:', error);
                });
        } else {
            // Handle password mismatch
            alert('Passwords do not match');
        }
    });
</script>
</body>
</html>
